<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">buttons</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <fal-card>
            <div class="flex flex-col">
                <div>
                    <fal-button label="Elevated button" appearance="elevated" type="submit"
                        class="flex justify-center" />
                </div>

                <div class="mt-2">
                    <fal-button label="Filled button" appearance="filled" type="submit" class="flex justify-center" />
                </div>

                <div class="mt-2">
                    <fal-button label="Filled tonal button" appearance="tonal" type="submit"
                        class="flex justify-center" />
                </div>

                <div class="mt-2">
                    <fal-button label="Outlined button" appearance="outlined" type="submit"
                        class="flex justify-center" />
                </div>

                <div class="mt-2">
                    <fal-button label="Text button" type="submit" class="flex justify-center" />
                </div>

                <div class="mt-2">
                    <fal-button label="Outlined button + icon" appearance="outlined" type="submit"
                        class="flex justify-center">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                            fontIcon="home"></mat-icon></fal-button>
                </div>

                <div class="mt-2">
                    <fal-button label="Outlined button + icon" appearance="outlined" type="submit"
                        class="flex justify-center">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                            fontIcon="add"></mat-icon></fal-button>
                </div>
            </div>
        </fal-card>
    </div>
</div>