<div class="container mx-auto p-6">
  <mat-card>
    <div class="flex justify-between p-5">
      <a mat-mini-fab color="accent" routerLink="..">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h2>Slide-toggle component</h2>
      <h2></h2>
    </div>

    <mat-divider></mat-divider>
    <mat-card-content>
      <div style="margin-top: 40px">
        <div>
          <div class="flex justify-between p-5">
            <h1>Slide-toggle</h1>
            <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
          </div>
          <p class="blurText">
            <strong class="text-format">mat-slide-toggle</strong> is an on/off control that can be toggled
            via clicking.
          </p>
          <p class="blurText">
            The slide-toggle behaves similarly to a checkbox, though it does not support an indeterminate
            state like <strong class="text-format">mat-checkbox</strong>.
          </p>
        </div>
        <form class="dynamic-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
          <control-builder [layout]="controlsConfig" [formGroup]="formGroup"></control-builder>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center">
          <pre><code [highlight]="formGroup.value | json"></code></pre>
        </div>
      </div>
      <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                          [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>
    </mat-card-content>
  </mat-card>
</div>