<mat-card>

  <div class="flex justify-between p-5">
    <h1>Prefix & suffix</h1>
    <h2></h2>
    <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
  </div>
  <mat-card-content>
    <p class="blurText">Custom content can be included before and after the input tag, as a prefix or suffix. It
      will be included within the visual container that wraps the form control as per the Material specification.
    </p>
    <p class="blurText">Adding the <strong class="text-format">matPrefix</strong> directive to an element inside the
      <strong class="text-format">mat-form-field</strong> will designate it
      as the prefix. Similarly, adding <strong class="text-format">matSuffix</strong> will designate it as the suffix.
    </p>
    <div style="margin-top: 40px">
      <form class="dynamic-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
        <control-builder [layout]="controlsConfig" [formGroup]="formGroup"></control-builder>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center">
        <pre><code [highlight]="formGroup.value | json"></code></pre>
      </div>
    </div>

    <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                        [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>
  </mat-card-content>
</mat-card>