<mat-toolbar color="primary" class="example-toolbar">
  <div class="content" style="width: 100%;">
    <div>
      <h1 class="example-app-name">Dynamic form builder</h1>
    </div>
    <div>
      <!--      <falcon-button *ngIf="!authService.isLoggedIn(); else elseBlock" (btnClick)="SignInclick()"-->
      <!--                     [field]="signInButtonConfig">-->
      <!--      </falcon-button>-->
      <!--      <ng-template #elseBlock>-->
      <!--        <falcon-button (btnClick)="SignOutclick()" [field]="signOutButtonConfig"></falcon-button>-->
      <!--      </ng-template>-->
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>


<br>
<div class="flex justify-between shadow-2xl shadow-inner">
  <h4 style="margin: 20px;">Angular Material</h4>
  <h5 style="margin: 20px;">Current Version: 0.0.1</h5>
  <h5 style="margin: 20px;">Powered by Falcon ©{{currentYear}}.</h5>
</div>