<br>
<mat-card>
  <mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="HTML">
      <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
    <mat-tab label="TS">
      <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
    <mat-tab label="CSS">
      <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
  </mat-tab-group>
  <ng-template #lazyLoadingTemplate>
    <div class="flex justify-center mt-5">
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
  </ng-template>

  <ng-template #codeTemplate>
    <pre><code [highlight]="code" [lineNumbers]="true"></code></pre>
  </ng-template>
</mat-card>